.technologies-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.technologies-grid .technology-card {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid #fff;
    width: calc(50% - 1rem);
    border-radius: 5px;
}

.technology-info h3 {
    color: #fff;
    font-size: 0.9rem;
    margin: 0.5rem 0;
}

.technology-info .mobile-hidden {
    /* Esconde no mobile */
    display: none;
}

.technology-card .technology-icon svg {
    color: #fff;
    font-size: 3rem;
}

@media (min-width: 768px) {
    .technologies-grid .technology-card {
        flex-direction: row;
        gap: 1rem;
    }

    .technology-info h3 {
        font-size: 1rem;
    }

    .technology-info .mobile-hidden {
        /* Mostra o conteúdo escondido no desktop */
        display: block;
        font-size: 0.9rem;
        color: #E6E6E6;
    }

    .technology-card .technology-icon svg {
        font-size: 4rem;
    }
}