.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.portfolio li .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li .title.github::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/image/icons/github.svg'); /* Ícone do GitHub no inicio do título */
    margin-right: .5rem;
}

.portfolio li hr {
    border: none;
    border-top: 0.7px solid #cccccc5a;
    margin: 1rem 0;
}