.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li .title {
    margin: 0;
    font-weight: 600;
}

.experience li .institution {
    margin-top: 0.5rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.experience li .period::before {
    content: ""; /* Pseudo-elemento antes do conteúdo */
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/image/icons/calendar.svg'); /* Ícone de calendário no início */
    margin-right: .5rem;
}

.experience li hr {
    border: none;
    border-top: 0.7px solid #cccccc5a;
    margin: 1rem 0;
}