.experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li .title {
    margin: 0;
    font-size: 1rem;
}

.experience li .institution {
    margin: 0.3rem 0;
    font-weight: 600;
    color: #DADADA;
    font-size: 0.9rem;
}

.experience li .period {
    display: flex;
    align-items: center;
    font-weight: 600;
    margin: 0.5rem 0;
    font-size: 0.9rem;
}

.experience li .period::before {
    content: "";
    display: inline-block;
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/image/icons/calendar.svg');
}

.experience li .description {
    font-size: 0.9rem;
    color: #E6E6E6;
    line-height: 1.4;
}

.experience li hr {
    border: none;
    border-top: 0.7px solid #cccccc5a;
    margin: 1rem 0;
}