.languages {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 0.5rem;
}
